
*.o
*.obj
*~
*.exe

pdfras_writer/libpdfras_writer.a

raster_encoder_demo/bin2carray.exe
raster_encoder_demo/bw_ccitt_page.h
raster_encoder_demo/color_page.h
raster_encoder_demo/raster.pdf
raster_encoder_demo/raster_encoder_demo
*.sdf
*.opensdf

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
**/output.pdf
demo_raster_encoder/bw_ccitt_data.h
demo_raster_encoder/color_page.h
demo_raster_encoder/color_strip?.h
demo_raster_encoder/gray8_page.h
*.opendb
pdfras_writer_tests
demo_raster_encoder
