
*.o
*.obj
*~
*.exe
*.sdf
*.opensdf
*.dSYM
*.opendb
.DS_Store

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
**/output.pdf

libpdfras_writer.a
libpdfras_reader.a
demo_raster_encoder/bw_ccitt_data.h
demo_raster_encoder/color_page.h
demo_raster_encoder/color_strip?.h
demo_raster_encoder/gray8_page.h

demo_raster_encoder/demo_raster_encoder
demo_low_level/demo_low_level
pdfras_writer_tests/pdfras_writer_tests
reader_test/reader_test
