
*.o
*.obj
*~

pdfras_writer/libpdfras_writer.a

raster_encoder_demo/bin2carray.exe
raster_encoder_demo/bw_ccitt_data.h
raster_encoder_demo/color_page.h
raster_encoder_demo/raster.pdf
raster_encoder_demo/raster_encoder_demo
